# Server configuration
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/cpen321

# Google Auth 
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

# JWT 
JWT_SECRET=your_jwt_secret_key_here

# Other API keys, secrets, and configurations
SERVER_PUBLIC_IP=

SERVER_NAME_FIRST=
SERVER_NAME_LAST=

# TLS paths
TLS_KEY_PATH=
TLS_CERT_PATH=